html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}

.calc-container {
    display: flex;
    flex-direction: column;
    background-color: #abbda7;
    border-radius: 0.25em;
    color: #374079;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    gap: 20px;
    min-height: 75px;
    justify-content: space-between;
}

#calc-output {
    align-self: flex-end;
}

.calculator {
    background-color: #858585;
    border-radius: 0.4em;
    padding: 10px;
    border-right: 3px #505050 solid;
    border-bottom: 3px #505050 solid;
    border-top: 0.5px #b1b1b1 solid;
    border-left: 0.5px #b1b1b1 solid;
}

.buttons {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
}

#bot {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
}

.left div {
    display: flex;
}

.left #zero {
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
}

.right button {
    flex: 1;
}

button {
    min-width: 50px;
    min-height: 50px;
    margin: 5px;
    border-radius: 0.4em;
}

.num {
    background-color: #4d4d4d;
    color: white;
    font-weight: bold;
}

.op {
    background-color: orange;
    font-weight: bolder;
}